<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/hoangsonww/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="hoangsonww" />
      <add key="ClearTextPassword" value="\${GH_TOKEN}" />
    </github>
  </packageSourceCredentials>
</configuration>
